@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700|Ranga:100,200,300,400,500,600,700');

/* ---------------------------------------------------- Colours */

.bgsection {
    background-color: rgba(8, 2, 63, 0.5);
}


/* ---------------------------------------------------- Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}


/* ---------------------------------------------------- Heading */

header {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.heading-quote {
    font-family: "Ranga", cursive;
    font-size: 15px;
    font-weight: 300;
}

.general-sub {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fafafa;
    padding: 10px;
    margin-bottom: 10px;
}

.inline-block {
    display: inline-block;
}

.album-track-header {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 700;
}

.contact-heading {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fafafa;
    padding: 10px;
    margin-bottom: 10px;
}


/* ---------------------------------------------------- Navbar */

.navbar-brand {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.navbar {
    margin: 0;
    width: 100%;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.bg-primary {
    background-color: rgba(8, 2, 63, 0.5) !important;
}

.bg-primary .navbar-nav .active>.nav-link {
    color: #74e5f0 !important;
}

.navbar .dropdown-menu {
    border: hidden;
    background-color: rgba(55, 90, 127, .5);
}


/* ---------------------------------------------------- Hover.css */

.navbar .navbar-nav .nav-item a:hover {
    color: #74e5f0;
}

.navbar .dropdown-menu .dropdown-item:hover {
    color: #74e5f0;
}

.btn:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.25);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn-outline-primary {
    margin-bottom: 5px;
}


/* ---------------------------------------------------- Footer */

footer {
    background-color: rgba(8, 2, 63, 0.5);
    color: #fff;
    min-height: 20px;
    margin: 0;
}

.footer-mobile-details {
    flex-wrap: nowrap;
}

.footer-text {
    font-family: "Lato", sans-serif;
    font-size: 10px;
}

.social-links {
    padding-bottom: 2px;
    padding-left: 25%;
}

.social-links li a i {
    width: 16px;
    height: 16px;
    padding: 6px 0;
    border-radius: 50%;
    font-size: 6px;
    line-height: 2px;
    text-align: center;
    color: #fff;
    background: #4b90f0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #74e5f0;
}

#footer-details {
    padding: 10px;
}


/* ---------------------------------------------------- Biographical Info */

.biog-image-position {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.biog-image {
    height: 200px;
    width: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: #375a7f;
    margin-bottom: 5px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.biog-text {
    font-family: "Lato", sans-serif;
    color: #fafafa;
    font-weight: 500;
    font-size: 15px;
    margin: 30px;
    padding-left: 10px;
}


/* ---------------------------------------------------- Video Audio */

.video-position {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.video-size {
    margin: 10px;
    height: 200px;
    width: 300px;
}

.audio-album-position {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-album-size {
    height: 125px;
    width: 125px;
    margin: 10px;
}

.audio-text {
    font-family: "Lato", sans-serif;
    color: #fafafa;
    font-weight: 500;
    font-size: 20px;
    padding-left: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-position {
    align-items: center;
    display: flex;
    margin: 0 auto;
    display: table;
    /*    margin-left: 50px;*/
}


/* ---------------------------------------------------- Albums */

.album-text {
    font-family: "Lato", sans-serif;
    color: #fafafa;
    font-weight: 500;
    font-size: 15px;
    margin: 10px;
}

.album-position {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-size {
    height: 200px;
    width: 200px;
    margin: 10px;
}

.album-details-header {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #fafafa;
    padding: 0;
}

.album-details {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #fafafa;
    text-align: center;
}

.album-details-text {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.album-track-text {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.collapse {
    text-decoration: none;
}


/* ---------------------------------------------------- Album Backgrounds */

.album-background-black {
    background-color: #000;
    background-size: cover;
    background-origin: content-box;
}

.album-background-grey {
    background-color: #646464;
    background-size: cover;
    background-origin: content-box;
}

.album-background-red {
    background-color: #f12e28;
    background-size: cover;
    background-origin: content-box;
}

.album-background-skyblue {
    background-color: #2cb4eb;
    background-size: cover;
    background-origin: content-box;
}

.album-background-blue {
    background-color: #3d1dee;
    background-size: cover;
    background-origin: content-box;
}

.album-background-green {
    background-color: #055e1b;
    background-size: cover;
    background-origin: content-box;
}

.album-background-orange {
    background-color: #f5630e;
    background-size: cover;
    background-origin: content-box;
}

.album-background-yellow {
    background-color: #e8ba25;
    background-size: cover;
    background-origin: content-box;
}

.album-background-brown {
    background-color: #642603;
    background-size: cover;
    background-origin: content-box;
}


/*---------------------------------------------------- Contact Form */

.contact-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.contact-image-position {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.contact-image {
    height: 150px;
    border-width: 5px;
    border-style: solid;
    border-color: #375a7f;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.contact-text {
    font-family: "Lato", sans-serif;
    color: #fafafa;
    font-weight: 500;
    font-size: 15px;
    margin: 30px;
    padding-left: 10px;
}


/* ---------------------------------------------------- Media Queries */

@media (min-width: 1000px) {
    .navbar-brand {
        font-size: 30px;
        padding-right: 50px;
    }
    .general-sub {
        font-size: 30px;
        color: #fafafa;
        padding: 10px;
        margin-bottom: 10px;
    }
    .footer-text {
        font-family: "Lato", sans-serif;
        font-size: 15px;
    }
    .social-links {
        padding-bottom: 10px;
        padding-left: 25%;
    }
    .social-links li a i {
        width: 32px;
        height: 32px;
        padding: 13px 0;
        border-radius: 50%;
        font-size: 16px;
        line-height: 4px;
    }
    .video-position .video-size {
        margin: 10px;
        height: 500px;
        width: 900px;
    }
    .audio-text {
        margin-top: 45px;
    }
    .album-size {
        height: 300px;
        width: 300px;
        margin: 10px;
    }
    .album-track-text {
        font-size: 12.5px;
    }
    .audio-position {
        margin-top: 30px;
        /* margin-left: 0px;*/
    }
    .contact-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 60%;
    }
    .contact-image {
        height: 200px;
        margin-bottom: 10px;
    }
}